.button {
	width: 155px;
	height: 45px;
	border-width: 2px;
	border-radius: 45px;
	border-style: solid;
	font-size: 14px;
	line-height: 40px;
	display: inline-block;
	text-align: center;

	&--yellow {
		border-color: $yellow;
		color: $yellow;
		background-color: transparent;
	}

	&--white {
		border-color: #fff;
		color: $blue;
		background-color: #fff;
		font-size: 16px;
	}
}

a.button {
	height: auto;
	padding: 12px 0;
	line-height: normal;
}