footer {
	background-color: #00345C;
	color: #fff;
	position: relative;
	z-index: 1;

	@media (min-width: 1140px) {
		&:after {
			content: '';
			width: 422px;
			height: 343px;
			position: absolute;
			background-image: url(../images/b.png);
			background-size: 100%;
			top: 0;
			right: 110px;
			z-index: -1;
		}
	}

	.footer--main {
		@include flex($alignI: flex-start);
		padding: 50px 0;

		@media ($tablets) {
			padding-left: 15px;
			padding-right: 15px;
		}

		.col-info {
			width: 42.3%;
			@media ($tablets) {
				width: 100%;
				margin-bottom: 48px;
			}
		}
		.col-nav {
			width: 57.7%;
			@include flex($alignI: flex-start);

			@media ($tablets) {
				width: 100%;
			}
		}
	}

	.footer-logo {
		width: 195px;
		display: block;
		margin-bottom: 30px;
		img {
			width: 100%;
			display: block;
		}
		@media ($tablets) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.footer-text {
		font-size: 14px;
		color: #8ca4b6;
		text-align: left;
		padding-right: 110px;

		@media ($tablets) {
			padding-right: 0;
			text-align: center;
		}

		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.social,
	.footer-contacts {
		height: 25px;
		margin-bottom: 48px;

		@media ($phones) {
			width: 100%;
		}
	}
	.footer-contacts {
		a {
			color: #fff;

			@media ($phones) {
				display: block;
				width: 220px;
				margin: 10px auto;
			}
		}
		.mail {
			margin-left: 40px;
			@media ($phones) {
				margin-left: auto;
			}
		}
	}

	.footer-nav {
		width: 100%;
	}
	.footer-nav nav > ul {
		@include flex($alignI: flex-start, $justify: flex-start);
		width: 100%;

		& > .menu-item {
			width: 30%;
			text-align: left;
			padding-right: 20px;

			@media ($tablets) {
				width: 33.333%;
			}

			@media ($phones) {
				width: 50%;
				margin: 20px 0;
			}

			& > a {
				color: $yellow;
				font-size: 20px;
				padding-bottom: 25px;
				margin-bottom: 25px;
				display: inline-block;
				border-bottom: 1px solid $yellow;

				@media ($phones) {
					font-size: 16px;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}

			.sub-menu {
				margin: 0;

				li {
					line-height: normal;
					margin-bottom: 8px;
				}

				a {
					color: #fff;
					font-size: 14px;
					position: relative;

					@media ($phones) {
						font-size: 11px;
						line-height: 12px;
					}

					&:after {
						content:'';
						width: 0;
						height: 1px;
						background-color: #fff;
						-webkit-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
						position: absolute;
						bottom: 0;
						left: 0;
					}

					&:hover:after {
						width: 100%;
					}
				} 
			}
		}
	}


	.footer--bottom {
		background-color: #002C4E;
		padding: 25px 0;

		.wrapper {
			@include flex();
		}

		a {
			color: $yellow;

			&:hover {
				text-decoration: underline;
			}
		}

		@media ($phones) {
			p {
				width: 100%;
				margin: 5px 0;
				font-size: 12px;
			}
		}
	}
}