         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    @include transition(opacity, .4s);
    
        /*.................media.............*/
        @include m1100 {
            @include position(fixed, -200%, auto, auto, 0);
            width: 100% !important;
            height: 100%;
            text-align: center;
            background-color: rgba(0,0,0,.95);
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             opacity: 0;
            &.active { opacity: 1;top: 0;}
            overflow: scroll;

        }
        @include mh700 {
           padding: 10px 0;
        }
        /*.............end media..............*/
        
    &__top {
        height: 50px;
        text-align: right;
        color: #FFF;
        &:before {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            content: "";
        }
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 50px;
            color: #FFF;
            font: 18px $mr;
        }
         /*.................media.............*/
        @include m1100 {
             text-align: center;
             margin-bottom: 60px;
             height: auto;
             a {
                display: block;
                margin: 10px auto;
             }   
        }
        @include mh700 {
           margin-bottom: 20px;
        }
    }
    &__bottom {
        .wrapper {
            @include flex($alignI: center);
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            border-top: 1px solid #B4C4D0;
            position: absolute;
            bottom: 1px;
            left: 0;
            z-index: -1;
        }
        /*.................media.............*/
        @include m1100 {
            .wrapper {
                display: block;
                text-align: center;
            }
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    @include m1100 {
      margin: 40px auto;
    }
    > ul {
        margin: 0;
        > li {
            display: inline-block;
            vertical-align: top;
            padding: 40px 0 50px;
            position: relative;
            margin: 0 20px;
             /*.................media.............*/
            @include m1100 {
               display: block;
               margin: 20px auto;
              padding: 5px 0;
            }
            @include mh700 {
               margin: 10px auto;
            }
            &:after {
                content: '';
                display: block;
                width: 0%;
                border-bottom: 1px solid $yellow;
                position: absolute;
                bottom: 1px;
                left: 0; right: 0;
                margin: auto;
                -webkit-transition: all .2s;
                   -moz-transition: all .2s;
                    -ms-transition: all .2s;
                     -o-transition: all .2s;
                        transition: all .2s;
            }
            &:hover,
            &.active {
                &:after {
                    width: 100%;
                }
                a {
                    color: $yellow;
                }
            }
            > a {
                display: inline-block;
                color: #FFF;
                text-transform: uppercase;
                font: 16px $mr;
                @include transition(all, .2s);
                @include m1100 {
                    font-size: 20px;
                }
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                left: 0;
                margin: 0;
                visibility: hidden;
                opacity: 0;
                background-color: rgba(0,52,92, .8);
                @include flex($wrap: nowrap);
                -webkit-transition: visibility 0s, opacity .4s;
                   -moz-transition: visibility 0s, opacity .4s;
                    -ms-transition: visibility 0s, opacity .4s;
                     -o-transition: visibility 0s, opacity .4s;
                        transition: visibility 0s, opacity .4s;
                 /*.................media.............*/
                    @include m1100 {
                      position: static;
                      visibility: visible;
                      opacity: 1;
                      display: block;
                      background: transparent;
                    }
                li {
                    display: inline-block;
                    vertical-align: top;
                    border-bottom: 1px solid #66859d;
                    position: relative;
                    &:after {
                       content: '';
                        display: block;
                        width: 0%;
                        border-bottom: 1px solid $yellow;
                        position: absolute;
                        bottom: -1px;
                        left: 0; right: 0;
                        margin: auto;
                        @include transition(all, .2s);
                    }
                @include m1100 {
                  display: block;
                  margin: 3px auto;
                  border: none;
                }
                    &:hover,
                    &.active {
                        color: $yellow;
                        &:after {
                           width: 100%;
                        }
                    }
                    a {
                        color: #FFF;
                        text-transform: uppercase;
                        padding: 0 20px;
                        display: inline-block;
                        min-width: 120px;
                        font: 14px/50px $mr;
                        @include m1100 {
                         padding: 5px 0;
                         line-height: normal;
                         color: rgba(255,255,255,.9);
                         text-transform: none;
                        }
                    }
                }
            }
            &:hover {
                .sub-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 39px;
    @include position(fixed, 15px, 7px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $blue;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 3px;
        background-color: $yellow;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 11px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 11px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1100 {
            display: block;
        }
        /*..............end media.............*/

}


.social {
    &__item {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 6px;
        &--inst {
            background-position: -99px 0px;
        }
        &--fb {
            background-position: -132px 0px
        }
        &--tw {
            background-position: -168px 0px;
        }
    }
    &--wide {
        margin-left: 10px;
        display: block;
        text-align: left;
        .social__item {
            width: 75px;
            height: 75px;
            background-color: $yellow;
            background-repeat: no-repeat;
            background-image: url("../images/social_blue.png");
            @include transition(all, .2s);
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            &:hover {
                background-color: $blue;
            }
            &--tel {
                background-position: -16% 55%
            }
            &--mail {
                background-position: 49% 58%
            }
            &--chat {
                background-position: 115% 60%
            }
            &:hover {
                background-image: url("../images/social_yellow.png");
            }
        }
    }
}
.social__item,
.tel:before,
.mail:before {
    background-image: url("../images/icons.png");
}
.tel:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 18px;
    height: 14px;
    margin-right: 10px;
    background-position: 2px -1px;
     margin-top: -2px;
}
.mail:before {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    content: '';
    width: 18px;
    height: 14px;
    margin-right: 10px;
    background-position: -25px 0px;
}

.logo {
    display: block;
    width: 195px;
    img {
        max-width: 100%;
    }
    @include m1100 {
      margin: 20px auto;
    }
}