         
.mainHeader {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m800 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}

        }
        /*.............end media..............*/
        
    &__top {
        height: 50px;
        text-align: right;
        color: #FFF;
        &:before {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            content: "";
        }
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 50px;
            color: #FFF;
            font: 18px $mr;
        }
    }
    &__bottom {
        .wrapper {
            @include flex($alignI: center);
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            border-top: 1px solid #B4C4D0;
            position: absolute;
            bottom: 1px;
            left: 0;
            z-index: -1;
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    > ul {
        margin: 0;
        > li {
            display: inline-block;
            vertical-align: top;
            padding: 40px 0 50px;
            position: relative;
            margin: 0 20px;
            &:after {
                content: '';
                display: block;
                width: 0%;
                border-bottom: 1px solid $yellow;
                position: absolute;
                bottom: 1px;
                left: 0; right: 0;
                margin: auto;
                -webkit-transition: all .2s;
                   -moz-transition: all .2s;
                    -ms-transition: all .2s;
                     -o-transition: all .2s;
                        transition: all .2s;
            }
            &:hover,
            &.active {
                &:after {
                    width: 100%;
                }
                a {
                    color: $yellow;
                }
            }
            > a {
                display: inline-block;
                color: #FFF;
                text-transform: uppercase;
                font: 16px $mr;
                @include transition(all, .2s);
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                left: 0;
                margin: 0;
                visibility: hidden;
                opacity: 0;
                background-color: rgba(0,52,92, .8);
                @include flex($wrap: nowrap);
                -webkit-transition: visibility 0s, opacity .4s;
                   -moz-transition: visibility 0s, opacity .4s;
                    -ms-transition: visibility 0s, opacity .4s;
                     -o-transition: visibility 0s, opacity .4s;
                        transition: visibility 0s, opacity .4s;
                li {
                    display: inline-block;
                    vertical-align: top;
                    border-bottom: 1px solid #66859d;
                    position: relative;
                    &:after {
                       content: '';
                        display: block;
                        width: 0%;
                        border-bottom: 1px solid $yellow;
                        position: absolute;
                        bottom: -1px;
                        left: 0; right: 0;
                        margin: auto;
                        @include transition(all, .2s);
                    }
                    &:hover,
                    &.active {
                        color: $yellow;
                        &:after {
                           width: 100%;
                        }
                    }
                    a {
                        color: #FFF;
                        text-transform: uppercase;
                        padding: 0 20px;
                        display: inline-block;
                        min-width: 120px;
                        font: 14px/50px $mr;
                    }
                }
            }
            &:hover {
                .sub-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}


.social {
    &__item {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 6px;
        &--inst {
            background-position: -99px 0px;
        }
        &--fb {
            background-position: -132px 0px
        }
        &--tw {
            background-position: -168px 0px;
        }
    }
}
.social__item,
.tel:before,
.mail:before {
    background-image: url("../images/icons.png");
}
.tel:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 18px;
    height: 14px;
    margin-right: 10px;
    background-position: 2px -1px;
     margin-top: -2px;
}
.mail:before {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    content: '';
    width: 18px;
    height: 14px;
    margin-right: 10px;
    background-position: -25px 0px;
}

.logo {
    width: 195px;
    img {
        max-width: 100%;
    }
}