.our-services {
	padding-top: 140px;
	@include mh700 {
		padding-top: 40px;
	}
}
.services-box {
	padding-top: 45px;
}
.service {
	@include flex();
	height: 400px;
	background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(255,245,104,1) 50%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,1)), color-stop(30%, rgba(242,242,242,1)), color-stop(50%, rgba(255,245,104,1)), color-stop(70%, rgba(242,242,242,1)), color-stop(100%, rgba(242,242,242,1)));
	background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(255,245,104,1) 50%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(255,245,104,1) 50%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(255,245,104,1) 50%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
	background: linear-gradient(to right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 30%, rgba(255,245,104,1) 50%, rgba(242,242,242,1) 70%, rgba(242,242,242,1) 100%);
	
	@media ($phones) {
		-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    height: auto;
	    background: none;
	}

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	.col {
		width: 50%;

		@media ($phones) {
			width: 100%;
		}
	}

	.col-image {
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@media ($phones) {
			height: 200px;
		}
	}
	.col-info {
		padding-left: 110px;
		padding-right: -webkit-calc(50% - 555px);
		padding-right: calc(50% - 555px);

		@media ($tablets) {
			padding-left: 40px;
			padding-right: 15px;
		}
		@media ($phones) {
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 15px;
			background: -moz-linear-gradient(top, rgba(255,245,108,1) 0%, rgba(242,242,242,1) 50%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,245,108,1)), color-stop(50%, rgba(242,242,242,1)));
			background: -webkit-linear-gradient(top, rgba(255,245,108,1) 0%, rgba(242,242,242,1) 50%);
			background: -o-linear-gradient(top, rgba(255,245,108,1) 0%, rgba(242,242,242,1) 50%);
			background: -ms-linear-gradient(top, rgba(255,245,108,1) 0%, rgba(242,242,242,1) 50%);
			background: linear-gradient(to bottom, rgba(255,245,108,1) 0%, rgba(242,242,242,1) 50%);
		}
	}

	&:nth-child(even){
		.col-info {
			-webkit-order: 1;
		    -ms-flex-order: 1;
		    order: 1;
		    padding-right: 110px;
		    padding-left: -webkit-calc(50% - 555px);
			padding-left: calc(50% - 555px);

			@media ($tablets) {
				padding-left: 15px;
				padding-right: 40px;
			}

			@media ($phones) {
				-webkit-order: 2;
			    -ms-flex-order: 2;
			    order: 2;
			}
		}
		.col-image {
			-webkit-order: 2;
		    -ms-flex-order: 2;
		    order: 2;

		    @media ($phones) {
				-webkit-order: 1;
			    -ms-flex-order: 1;
			    order: 1;
			}
		}
	}

	&__title {
		font-size: 24px;
		color: $blue;
		font-family: $mb;
		margin-bottom: 35px;
	}

	&__content {
		line-height: 21px;
		margin-bottom: 35px;
	}
}