.faq {
	padding: 100px 0;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 100% 0%;
    margin-top: -30px;
    position: relative;
    z-index: 1;

    @media (min-width: 1140px) {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 100% 0%;
        margin-top: -30px;
        position: relative;
    }
    @media ($tablets) {
        background-image: none!important;
    }
    .social {
        margin: 0 0 46px 90px;

        @media ($tablets) {
            margin-left: 0;
        }
    }

    
}