.contacts {
	padding: 100px 0;

	.wrapper {
		@include flex($alignI: flex-start);
	}

	.col-map {
		width: 57.6%
	}

	.col-info {
		width: 42.4%;
		text-align: left;
		padding-left: 115px;

	}

	.map {
		height: 600px;
		width: 100%;
		position: relative;
		background-color: #ccc;
	}

	.info-group {
		padding-top: 41px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		i {
			margin: 0 0 25px;
			z-index: -1;
			&:after {
				content: '';
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border: 5px solid $yellow;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		.phone-link {
			font-size: 20px;
			margin-right: 5px;
			line-height: 30px;

			& + span {
				color: #999999;
				font-size: 14px;
				text-transform: uppercase;
			}
		}

		.mail-link {
			font-size: 20px;
			line-height: 30px;
			color: $blue;
			text-decoration: underline;
		}

		address {
			font-style: normal;
			line-height: 22px;
		}
	}
}


i.phone-blue {
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../images/phone-blue.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
i.mail-blue {
	display: block;
	width: 20px;
	height: 18px;
	background-image: url(../images/mail-blue.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
i.pin-blue {
	display: block;
	width: 20px;
	height: 25px;
	background-image: url(../images/pin-blue.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}