.partners {
	padding: 91px 0 140px;
	@include mh700 {
		padding-top: 40px;
		padding-bottom: 60px;
	}
	h2 {
		margin-bottom: 35px;
	}
}
.defs-only {
	display: none;
}
.partners-box {
	@include flex($alignI: center, $justify: flex-start);

	.partner {
		width: 25%;
		margin: 15px 0;

		@media (max-width: 600px) {
			width: 33.333%;
		}
		@media (max-width: 400px) {
			width: 50%;
		}
		a {
			display: inline-block;
			width: 100%;
			padding: 0 10px;
			-webkit-filter: url(#monochrome);
  			filter:  url(#monochrome);
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			&:hover {
				-webkit-filter: none;
				-o-filter: none;
				filter: none;
			}
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
}