.services {
    margin-top: 140px;
}
.servicesList {
    margin-top: 45px;
    &__item {
        @include flex($alignI: flex-start);
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
        &__img,
        &__info {
            width: 50%;
            height: 100%;
        }

        &__img {
            background-image: url("../images/service.jpg");
            background-position: 50% 50%;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
        }
        &__info {
            padding: 0 0px 0 100px;
            background: #fff568; /* Old browsers */
            background: -moz-linear-gradient(left,  #fff568 0%, #f4f2de 23%, #f2f2f2 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  #fff568 0%,#f4f2de 23%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  #fff568 0%,#f4f2de 23%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff568', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */


            &:before {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                content: "";
            }
            &__wrap {
                display: inline-block;
                vertical-align: middle;
                max-width: 360px;
                text-align: left;
            }
            &__title {
                margin-bottom: 50px;
                color: $blue;
                font: 26px $mb;
                display: block;
            }
            p {
                font: 16px $mr;
            }
            .button {
                margin-top: 30px;
            }
        }

         &:nth-of-type(2n) {
            -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
            .servicesList__item__info {
                padding: 0 100px 0 0;
                text-align: right;
                background: #f2f2f2; /* Old browsers */
                background: -moz-linear-gradient(left,  #f2f2f2 0%, #f4f2de 71%, #fff568 97%, #fff568 97%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  #f2f2f2 0%,#f4f2de 71%,#fff568 97%,#fff568 97%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  #f2f2f2 0%,#f4f2de 71%,#fff568 97%,#fff568 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fff568',GradientType=1 ); /* IE6-9 */

            }
        }
    }
}