.services-section {
    padding: 0 0 95px;
}
.team-section{
    padding: 95px 0;
    margin-top: -30px;
    background-image: url("../images/grey_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
}
.team,
.services {
    @include flex($alignI: flex-start);
}
.hoverInfoBlock {
    width: 33.33%;
    height: 355px;
    padding: 20px;
    position: relative;
    background-position: 50% 0%;
    overflow: hidden;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @include flex($alignI: flex-start, $justify: flex-end, $direction: column);
    &__info {
        position: relative;
        z-index: 2;
        text-align: left;
        margin-bottom: -65px;
        @include transition(all, .2s);
    }
    h2,p {
        text-align: left;
        padding-left: 0;
        text-transform: none;
    }
    h2 {
        color: $yellow;
        margin-bottom: 10px;
    }
    p {
        color: #FFF;
        margin-bottom: 16px;
    }
    &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, .3);
        z-index: 1;
        @include transition(all, .2s);
    }
    &:hover {
       .hoverInfoBlock__info {
        margin-bottom: 0;
       } 
       &:after {
           opacity: 0;
       }
    }
    &:before {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 105%;
        z-index: 0;
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
        background-image: -webkit-linear-gradient(left, rgb(0,52,92) 0%, rgba(0,52,92,0) 50%);
        background-image: -o-linear-gradient(left, rgb(0,52,92) 0%, rgba(0,52,92,0) 50%);
        background-image: linear-gradient(to right, rgb(0,52,92) 0%, rgba(0,52,92,0) 50%);
    }
}

.marketing {
    padding: 90px 0 200px 0px;
    margin-top: -30px;
    .wrapper {
        @include flex($justify: flex-start);
    }
    background-image: url("../images/marketing.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    text-align: left;
    -webkit-background-size: auto 100%;
         -o-background-size: auto 100%;
            background-size: auto 100%;
    &__info {
        width: 640px;text-align: left;
        padding-left: 100px;
    }
    h2 {
        padding-left: 0;
        margin-bottom: 20px;
    }
}
.services {
    margin-top: -90px;
}