// COLORS
// ---------------------------
$yellow : 		#fff568;
$blue: 			#00345c;
$grey:			#333333;


// FONTS
// ---------------------------
$sfb:			'sf_ui_displaybold';
$sfl:			'sf_ui_displaylight';

$mb:			'montserratbold';
$mr:			'montserratregular';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $mr;
	font-size: 16px;
	color: #333333;
}

h1 {
    color: #FFF;
    text-align: left;
    font-size: 60px;
}
h2 {
    display: block;
    padding-left: 95px;
    color: $blue;
    font: 26px $mr;
    text-transform: uppercase;
    text-align: left;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1100px;
	margin: 0 auto;
	text-align: center;

	@media (max-width: 1140px) {
		width: 100%;
		padding: 0 15px;
	}
}
