// COLORS
// ---------------------------
$yellow : 		#fff568;
$blue: 			#00345c;
$grey:			#333333;


// FONTS
// ---------------------------
$sfb:			'sf_ui_displaybold';
$sfl:			'sf_ui_displaylight';

$mb:			'montserratbold';
$mr:			'montserratregular';


// RESPONSIVE
// ---------------------------
$tablets:			'max-width: 1140px';
$phones:			'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $mr;
	font-size: 16px;
	color: #333333;
}

h1 {
    color: #FFF;
    text-align: left;
    font-size: 60px;
    @include m1100 {
        text-align: center;
    }
    @include m700 { 
        font-size: 48px;
    }
    @include m500 { 
        font-size: 36px;
    }
}
h2 {
    display: block;
    padding-left: 95px;
    color: $blue;
    font: 26px $mr;
    text-transform: uppercase;
    text-align: left;

    @media ($phones) {
    	padding-left: 0;
        text-align: center;
    }
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1100px;
	margin: 0 auto;
	text-align: center;

	@media ($tablets) {
		width: 100%;
		padding: 0 15px;
	}
}
