// COLORS
// ---------------------------
$grey:			#333333;


// FONTS
// ---------------------------
$sfb:			'sf_ui_displaybold';
$sfl:			'sf_ui_displaylight';

$mb:			'montserratbold';
$mr:			'montserratregular';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $mr;
	font-size: 16px;
	color: #333333;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1110px;
	margin: 0 auto;
	text-align: center;
}
